# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
ENV/
env/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Trained models (can be large)
models/*.pth
models/*.pkl

# OS files
.DS_Store
Thumbs.db

# Raw source data folder
raw_source/

# Models checkpoints
models/

# Processed/ except (val/)
Processed/*
!Processed/val/

# Reporte técnico local (para uso personal/equipo local)
Reporte_Tecnico_ColombianFood.pdf
